doctype 5
html
  head
    title= title
    //ext.js
    link(rel='stylesheet', href='//cdn.sencha.io/ext-4.1.0-gpl/resources/css/ext-all.css')
    script(type='text/javascript', src='//cdn.sencha.io/ext-4.1.0-gpl/ext-all.js')


    //app
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content