doctype 5
html
  head
    title= title
    //ext.js
    link(rel='stylesheet', href='/js/ext/resources/css/ext-all.css')
    script(type='text/javascript', src='/js/ext/ext-all-dev.js')

    script(type='text/javascript', src='/js/libs/Hasher/hasher.js')
    
    //app
    link(rel='stylesheet', href='/stylesheets/style.css')

    //  socket.io
    script(src="/socket.io/socket.io.js")
    script(src="/js/controller/Socket.io.js")
        
    //block scripts
  body
    block content
    //block headerscripts
    //block footerscripts
    block scripts